// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Aside
@import 'partials/aside';

// Dashboard
@import 'partials/dashboard';


.admin-main{
  background-image: url("../../public/img/34714751.jpg");
  background-size: cover;
  background-position: 0 -200px;
}