.dashboard-content{
  width:50%;
  height: 300px;
  border:1px solid lightgray;
  background-color:white;
  box-shadow:1px 1px 10px lightgray;
  border-radius: 20px;
  margin-left:200px;
  margin-top:50px;
}