.dashboard-content{
  width:1200px;
  height: min-content;
  border:1px solid lightgray;
  background-color:lightgray;
  box-shadow:1px 1px 10px lightgray;
  border-radius: 20px;
  margin-left:200px;
  margin-top:50px;

  form{
    .form-group{
      textarea{
        height: 200px;
        resize: none;
      }
    }
  }

  .user-posts{
    height:400px;
    overflow: auto;
    a{
      color:unset;
      transition: all 0.2s;

      &:hover{
      text-decoration: none;
      background-color: royalblue;
      color:white;
      }
    }
  }

  .post-viewer{
    .post-title{
      background-color: $indigo;
      border-radius: 10px;
      padding:10px;
      box-shadow: 1px 1px 10px gray;
      color:white;
      text-align: center;
    }

    .post-description{
      height: 300px;
      box-shadow: 1px 1px 10px gray;
      border-radius: 10px;
      overflow: auto;
      margin-top: 30px;
      padding:10px;
      font-size: 23px;
      background-color: white;
    }

  }
}