.dashboard-content{
  width:1200px;
  height: min-content;
  border:1px solid lightgray;
  background: linear-gradient(0deg, rgba(104,143,182,1) 0%, rgba(8,29,50,1) 100%);
  border-radius: 20px;
  margin-left:200px;
  margin-top:50px;

  h2{
    margin-bottom: 35px;
    text-align: center;
  }

  h2,label{
    color:white;
  }

  form{
    .form-group{
      textarea{
        height: 200px;
        resize: none;
      }
    }
  }

  .user-posts{
    height:400px;
    overflow: auto;
    a{
      color:unset;
      transition: all 0.2s;

      &:hover{
      text-decoration: none;
      background-color: royalblue;
      color:white;
      }
    }
  }
  
}