
.post-show-section{
  background-color: lightgray;
  padding: 20px;
  .post-container{
    padding: 20px;
    box-shadow: 1px 1px 10px lightgray;
    .post-title{
      font-weight: bolder;
    }
    .post-content{
      font-size: 25px;
      font-style: italic;
    }
  }
}